<details aria-labelledby="reward" class="panel panel-default">
  	<summary class="panel-heading"><h4 id="reward">{{ heading_title }}</h4></summary>
  	<div class="form-group">
		<label for="input-reward">{{ entry_reward }}</label>
		<div class="input-group">
			<input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" />
			<button type="submit" id="button-reward" class="primary">{{ ok }}</button>
		</div>
		<span>{{ entry_reward }}</span>
	</div>
</details>



      <script type="text/javascript"><!--
// $('#button-reward').on('click', function() {
// 	$.ajax({
// 		url: 'index.php?route=extension/total/reward/reward',
// 		type: 'post',
// 		data: 'reward=' + encodeURIComponent($('input[name=\'reward\']').val()),
// 		dataType: 'json',
// 		beforeSend: function() {
// 			$('#button-reward').button('loading');
// 		},
// 		complete: function() {
// 			$('#button-reward').button('reset');
// 		},
// 		success: function(json) {
// 			$('.alert-dismissible').remove();

// 			if (json['error']) {
// 				$('.breadcrumb').after('<div role="alert" class="alert-danger"><i class="icon-alert"></i> ' + json['error'] + '<button type="button" class="close"></button></div>');

// 				$('html, body').animate({ scrollTop: 0 }, 'slow');
// 			}

// 			if (json['redirect']) {
// 				location = json['redirect'];
// 			}
// 		},
// 		error: function(xhr, ajaxOptions, thrownError) {
// 			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 		}
// 	});
// });
//--></script>
