{% if categories %}
  <div class="relative">
    <button 
      type="button"
      id="main-menu-trigger"
      class="primary main-menu-trigger hidden-md"
      role="button"
      aria-haspopup="menu"
      aria-label="{{ text_category }}"
      data-accordion-target="main-menu"
    >
      <div class="icon menu-icon">
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
      </div>
      <span class="hidden-md">
        {{ text_category }}
      </span>
    </button>
    <div 
      id="main-menu" 
      class="menu mobile_menu" 
      aria-label="{{ text_category }}" 
      data-accordion="main-menu"
      data-block-name="{{ text_menu_settings }}" 
      data-icon="icon-cart" 
      data-order="0">
      {% for parent, category in categories %}
        <ul role="menu" data-parent="{{ parent }}">
          {% for child in category %}
            <li role="menuitem" {% if child.children_count > 0 %} data-category-id="{{ child.category_id }}" {%  endif %}>
              <a href="{{ child.href }}">{{ child.name }}</a>
              <span role="status" class="product_count">{{child.product_count}}</span>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endif %}


{# Build recursive nested list #}
{# Leave this for now #}
{# <div id="main-menu" class="dropdown-menu collapse">
  <div class="menu-inner">
    <div class="menu">
      <ul class="top-level">
        {% for category_set in categories %}
          {{ _self.recursiveCategory(category_set) }}
        {% endfor %}
      </ul>
    </div>
  </div>
</div> #}
{# {% macro recursiveCategory(category) %}
  <li><a class="mcn" href="{{ category.href }}">{{ category.name }}</a>&nbsp;<span class="product_count">{{category.product_count}}</span>
    {% if category.children|length %}
      <ul class="inner-level">
        {% for child in category.children %}
          {{ _self.recursiveCategory(child) }}
        {% endfor %}
      </ul>
    {% endif %}
    </li>
{% endmacro %} #}
