{% if shipping_methods %}
  <div id="js_shipping_methods">
    <span class="h2">lolol{{ text_shipping }}</span>
    {% for shipping_method in shipping_methods %}
      {% if not shipping_method.error %}
        {% if shipping_method.quote %}
          {% for quote in shipping_method.quote %}
            <div class="form-control">
              {% if quote.code == code or not code %}
                {% set code = quote.code %}
                  <input id="{{ quote.code }}" type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
                {% else %}
                  <input id="{{ quote.code }}" type="radio" name="shipping_method" value="{{ quote.code }}" />
                {% endif %}
              <label for="{{ quote.code }}">{{ quote.title }} - {{ quote.text }}</label>
            </div>
          {% endfor %}
        {% else %}
          {% if shipping_method.status == 1 %}
            <div class="form-control">
          <input type="radio" value="{{ shipping_method.code }}" id="shipping_{{ shipping_method.code }}" name="shipping_method" {% if loop.first %} checked {% endif %}/>
              <label for="shipping_{{ shipping_method.code }}">{{ shipping_method.title }}</label>
            </div>
          {% endif %}
        {% endif %}
      {% else %}
        <div class="alert alert-danger">{{ shipping_method.error }}</div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}