{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}

<main role="main" id="checkout">
  {% if error_warning %}
  <div class="alert danger"><i class="icon-alert"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  
  {{ content_top }}
	<h1>{{ heading_title }}</h1>
	

  {# TODO Change all divs to details #}
  <details aria-labelledby="title_login_or_register">
    <summary><h4 id="title_login_or_register">{{ text_checkout_option }}</h4></summary>
    <div class="collapse-login" id="collapse-login">
      {# Login or register form #}
    </div>
  </details>
    
    {% if not logged and account != 'guest' %}
      <details aria-labelledby="title_guest_checkout">
        <summary><h4 id="title_guest_checkout">{{ text_checkout_account }}</h4></summary>
        <div class="collapse-payment_address collapse-guest collapse-register" id="collapse-payment_address">
          {# payment address #}
        </div>
      </details>
    {% else %}
      <details aria-labelledby="title_payment_address">
        <summary><h4 id="title_payment_address">{{ text_checkout_payment_address }}</h4></summary>
        <div class="collapse-payment_address collapse-guest collapse-register" id="collapse-payment_address">
          {# payment address #}
        </div>
      </details>
    {% endif %}

    {% if shipping_required %}
      <details aria-labelledby="title_shipping_address">
        <summary><h4 id="title_shipping_address">{{ text_checkout_shipping_address }}</h4></summary>
        <div class="collapse-shipping_address" id="collapse-shipping_address">
          {# Shipping address #}
        </div>
      </details>

      <details aria-labelledby="title_shipping_method">
        <summary><h4 id="title_shipping_method">{{ text_checkout_shipping_method }}</h4></summary>
        <div class="collapse-shipping_method" id="collapse-shipping_method">
          {# Shipping method #}
        </div>
      </details>
    {% endif %}

    <details aria-labelledby="title_payment_method">
      <summary><h4 id="title_payment_method">{{ text_checkout_payment_method }}</h4></summary>
      <div class="collapse-payment_method" id="collapse-payment_method">
        {# Payment method #}
      </div>
    </details>

    <details aria-labelledby="title_confirm">
      <summary><h4 id="title_confirm">{{ text_checkout_confirm }}</h4></summary>
      <div class="collapse-confirm" id="collapse-checkout_confirm">
        {# Payment method #}
      </div>
    </details>
</main>
{{ content_bottom }}
{{ column_left }}
{{ column_right }}
<script type="text/javascript">

//$(document).on('change', 'input[name=\'account\']', function() {
//	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
//		if (this.value == 'register') {
//			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="icon-chevron-down"></i></a>');
//		} else {
//			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="icon-chevron-down"></i></a>');
//		}
//	} else {
//		if (this.value == 'register') {
//			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
//		} else {
//			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
//		}
//	}
//});

// Step 1
{% if not logged %}
  getForm('login');
{% else %}
  getForm('payment_address');
	// fetch('index.php?route=checkout/payment_address',{method: "GET"})
	// .then((r) => {return r.text();})
	// .then((body) => {
	// 	let step1 = document.querySelector('#collapse-checkout-option .panel-body');
	// 	step1.innerHTML = body;
	// });
// Проверить это на зарегистрированном пользователе
//  $(document).ready(function() {
//    $.ajax({
//        url: 'index.php?route=checkout/payment_address',
//        dataType: 'html',
//        success: function(html) {
//            $('#collapse-payment-address .panel-body').html(html);
//
//			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="icon-chevron-down"></i></a>');
//
//			$('a[href=\'#collapse-payment-address\']').trigger('click');
//        },
//        error: function(xhr, ajaxOptions, thrownError) {
//            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//        }
//    });
//  });
{% endif %}

 // Step 2
document.addEventListener('click', async (e) => {
  // List all dynamically added buttons
	let button_account = document.getElementById('button-account');
	let button_guest = document.getElementById('button-guest');
	let button_register = document.getElementById('button-register');
  let button_shipping_method = document.getElementById('button-shipping-method');
  let button_payment_method = document.getElementById('button-payment-method');
  let button_payment_address = document.getElementById('button-payment-address');
  let button_shipping_address = document.getElementById('button-shipping-address');
  let button_confirm = document.getElementById('button-confirm');

  if (!!button_confirm) {
    if (button_confirm.contains(e.target)) {
      // console.log(button_confirm.dataset);

      let response = await fetch(button_confirm.dataset.confirm, {method: 'POST'});
      let result = await response.json();
      if ('redirect' in result) {
        window.location = result.redirect;
      } else {
        return result;
      }
    }
  }

  if (!!button_payment_address) {
    if (button_payment_address.contains(e.target)) {
      e.preventDefault()
      let response = await saveForm('payment_address');
      if (typeof(response) !== 'undefined' && 'shipping_required' in response.js_defs) {
        console.log('Shipping required');
        getForm('shipping_address');
      } else {
        getForm('shipping_method');
      }
    }
  }

  if (!!button_payment_method) {
    if (button_payment_method.contains(e.target)) {
      e.preventDefault();
      chainFunctions(saveForm, 'payment_method', getForm, 'confirm');
    }
  }
  // If create account and checkout
	if (!!button_account) {
		if (button_account.contains(e.target)) {
			var guest_or_register = document.querySelector('input[name="account"]:checked').value;
      getForm(guest_or_register);
		}
	}

  if (!!button_register) {
    if (button_register.contains(e.target)) {
      chainFunctions(saveForm,'checkout_register', getForm, 'shipping_method');
    }
  }

  if (!!button_guest) {
    if (button_guest.contains(e.target)) {
      e.preventDefault();
      let response = await saveForm('guest_checkout');
      // console.log(response);
      // If shipping is required for this order
      if (typeof(response) !== 'undefined' && 'shipping_required' in response.js_defs) {
        console.log('Shipping required');
        var shipping_address_same_as_order = document.querySelector('input[name=\'shipping_address\']:checked');
        if (shipping_address_same_as_order) {
          // Shipping address is the same as delivery
          getForm('shipping_method');
        } else {
          getForm('payment_address');
        }
      } else {
        console.log('No shipping needed');
        getForm('payment_method');
      }
    }
  }

  if (!!button_shipping_method) {
    if (button_shipping_method.contains(e.target)) {
      e.preventDefault();
      chainFunctions(saveForm, 'shipping_method', getForm, 'payment_method');
    }
  }
  if (!!button_shipping_address) {
    if (button_shipping_address.contains(e.target)) {
      e.preventDefault();
      chainFunctions(saveForm, 'shipping_address', getForm, 'shipping_method');
    }
  }
});

// Universal save method
// @save_form_id - form id to be saved
// Form itself must have correct action parameter
async function saveForm(saved_form_id) {
  let saved_form = document.getElementById(saved_form_id);
  let data = new FormData(saved_form);
  // for (var pair of data.entries()) {
  //   console.log(pair[0]+ ', ' + pair[1]); 
  // }
  let response = await fetch(saved_form.action, {method: 'POST', body: data});
  let result = await response.json();
  if ('error' in result) {
    handleErrors(result, saved_form);
  } else if ('redirect' in result) {
    window.location = result.redirect;
  } else {
    return result;
  }
}

// Universal request form method
// @method_name is the name of php file to be requested
// parent element containing collapse must have class matching ('collapse-'+method_name)
function getForm(method_name) {
  fetch('index.php?route=checkout/'+method_name,{method: "POST"})
  .then((r) => {return r.text();})
  .then((body) => {
    let step = document.querySelector('.collapse-'+method_name)
    step.innerHTML = body;
    let details = step.closest('details');
    if (details.Accordion) {
      details.Accordion.open();
      console.log('true');
    } else {
      details.open;
    }
    let country_select = step.querySelector('[name="country_id"]');
    let zone_select = step.querySelector('[name="zone_id"]');
    if (!!country_select && !!zone_select) {
      getZones(country_select.value, zone_select.id);
    }
  });
}

// Chain xhr request functions
// Waits until first function returns no errors, then calls second function
// i.e. saveForm('guest_delivery') then getForm('shipping_method')
async function chainFunctions(function1, argument1, function2, argument2) {
  let result = await function1(argument1);
  if (result) {
    function2(argument2);
  }
}

// Highlight incorrectly filled fields
function handleErrors(result, form_with_errors) {
	// Remove previous error messages
	removeElementsByClass('text-danger');
	[].forEach.call(document.querySelectorAll('.has-error'), function(el) {
    el.classList.remove('has-error');
	});
  // Remove ARIA attributes for previous errors
	[].forEach.call(document.querySelectorAll('[aria-invalid="true"]'), function(el) {
    el.removeAttribute('aria-invalid');
	});
	[].forEach.call(document.querySelectorAll('[aria-errormessage]'), function(el) {
    el.removeAttribute('aria-errormessage');
	});

  if ('error' in result) {
    let errors_object = result.error;
    for (i in errors_object) {
      // TODO Test this with multiple warnings
      if (i == 'warning') {
        mwindow.create('toast', errors_object['warning'], 'warning');
      } else {
        // console.log(i, errors_object[i]);
        let error_input = form_with_errors.querySelector('[name='+i+']');
        if (error_input) {
          // Set ARIA ittributes to invalid fields
          error_input.setAttribute('aria-invalid', true);
          error_input.setAttribute('aria-errormessage', 'error_label_'+i);
          let error_input_group = error_input.parentElement.classList.contains('form-group') ? error_input.parentElement : false;
          if (error_input_group) {
            error_input_group.classList.add('has-error');
          }
          error_input.insertAdjacentHTML('afterend', '<span role="alert" id="error_label_'+i+'" class="text-danger">' + errors_object[i] + '</span>')
        } else {
          console.log('input not found:', 'input name=['+i+']');
        }
      }
    }
  }
}
function removeElementsByClass(className) {
  const elements = document.getElementsByClassName(className);
  while(elements.length > 0) {
    elements[0].parentNode.removeChild(elements[0]);
  }
}


// Create zones options
function getZones(country_id, zone_input_id) {
	fetch('index.php?route=checkout/checkout/country&country_id='+country_id,{method: "POST"})
	.then((r) => {return r.text();})
	.then((body) => {
		let country = JSON.parse(body);
		if ('zone' in country) {
			let payment_zone_select = document.getElementById(zone_input_id);
			// remove child elements
			while (payment_zone_select.firstChild) {
				payment_zone_select.removeChild(payment_zone_select.lastChild);
			}
			// Add new select options
			for (const zone in country.zone) {
				if (Object.hasOwnProperty.call(country.zone, zone)) {
					const element = country.zone[zone];
					let option = document.createElement('option');
					option.value = element.zone_id;
					option.innerText = element.name;
					payment_zone_select.appendChild(option);
				}
			}
		}
	});
}

// document.addEventListener('keydown', e => {
//   handleEnter(e)
// });
// function handleEnter(event) {
//   if (event.key==="Enter" && event.target.tagName == 'INPUT') {
//     const form = event.target.closest('form');
//     let inputs = form.querySelectorAll('input, select');
//     console.log(inputs)
//     const index = [...form].indexOf(event.target);

//     let current_input = form.elements[index]
//     if (current_input !== form.lastElementChild) {
//       const next_input = form.elements[index + 1];
//       next_input.focus();
//       event.preventDefault();
//     } else {
//       console.log('ololo');
//     }
//   }
// }

// $(document).delegate('#button-guest', 'click', function() {
// 	$.ajax({
// 		url: 'index.php?route=checkout/guest/save',
// 		type: 'post',
// 		data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
// 		dataType: 'json',
// 		beforeSend: function() {
				
// 		},
// 		success: function(json) {



// 					{% if shipping_required %}
						
// 						var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

// 						if (shipping_address) {
// 							$.ajax({
// 								url: 'index.php?route=checkout/shipping_method',
// 								dataType: 'html',
// 								complete: function() {
// 									{# $('#button-guest').button('reset'); #}
// 								},
// 								success: function(html) {
// 									// Add the shipping address
// 									$.ajax({
// 											url: 'index.php?route=checkout/guest_shipping',
// 											dataType: 'html',
// 											success: function(html) {
// 												$('#collapse-shipping-address .panel-body').html(html);
// 												$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="icon-chevron-down"></i></a>');
// 											},
// 											error: function(xhr, ajaxOptions, thrownError) {
// 												alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 											}
// 									});

// 									$('#collapse-shipping-method .panel-body').html(html);
// 									$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="icon-chevron-down"></i></a>');
// 									$('a[href=\'#collapse-shipping-method\']').trigger('click');
// 									$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 									$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
// 								},
// 								error: function(xhr, ajaxOptions, thrownError) {
// 										alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 								}
// 							});
// 						} else {
// 							$.ajax({
// 								url: 'index.php?route=checkout/guest_shipping',
// 								dataType: 'html',
// 								complete: function() {
// 										{# $('#button-guest').button('reset'); #}
// 								},
// 								success: function(html) {
// 									$('#collapse-shipping-address .panel-body').html(html);
// 									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="icon-chevron-down"></i></a>');
// 									$('a[href=\'#collapse-shipping-address\']').trigger('click');
// 									$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
// 									$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 									$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
// 								},
// 								error: function(xhr, ajaxOptions, thrownError) {
// 									alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 								}
// 							});
// 						}

// 					{% else %}
// 						$.ajax({
// 							url: 'index.php?route=checkout/payment_method',
// 							dataType: 'html',
// 							complete: function() {
// 								{# $('#button-guest').button('reset'); #}
// 							},
// 							success: function(html) {
// 								$('#collapse-payment-method .panel-body').html(html);
// 								$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="icon-chevron-down"></i></a>');
// 								$('a[href=\'#collapse-payment-method\']').trigger('click');
// 								$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
// 							},
// 							error: function(xhr, ajaxOptions, thrownError) {
// 									alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 							}
// 						});
// 					{% endif %}
				
// 			},
// 		error: function(xhr, ajaxOptions, thrownError) {
// 			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 		}
// 	});
// });




// $(document).delegate('#button-account', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
//         dataType: 'html',
//         success: function(html) {
//             console.log(html);
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');
// 
//             $('#collapse-payment-address .panel-body').html(html);
// 
// 			if ($('input[name=\'account\']:checked').val() == 'register') {
//                 $('#collapse-payment-address').parent().find('.panel-heading .panel-title')
//                 .html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="icon-chevron-down"></i></a>');
// 			} else {
//                 $('#collapse-payment-address').parent().find('.panel-heading .panel-title')
//                 .html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="icon-chevron-down"></i></a>');
// 			}
// 
// 			$('a[href=\'#collapse-payment-address\']').trigger('click');
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });


// Register
// $(document).delegate('#button-register', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/register/save',
//         type: 'post',
//         data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
//         dataType: 'json',
//         beforeSend: function() {
// 			{# $('#button-register').button('loading'); #}
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
//             $('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 {# $('#button-register').button('reset'); #}

//                 if (json['error']['warning']) {
//                     $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//                 }

// 				for (i in json['error']) {
// 					var element = $('#input-payment-' + i.replace('_', '-'));

// 					if ($(element).parent().hasClass('input-group')) {
// 						$(element).parent().after('<span class="text-danger">' + json['error'][i] + '</div>');
// 					} else {
// 						$(element).after('<span class="text-danger">' + json['error'][i] + '</div>');
// 					}
// 				}

// 				// Highlight any found errors
// 				$('.text-danger').parent().addClass('has-error');
//             } else {
//                 {% if shipping_required %}
//                 var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

//                 if (shipping_address) {
//                     $.ajax({
//                         url: 'index.php?route=checkout/shipping_method',
//                         dataType: 'html',
//                         success: function(html) {
// 							// Add the shipping address
//                             $.ajax({
//                                 url: 'index.php?route=checkout/shipping_address',
//                                 dataType: 'html',
//                                 success: function(html) {
//                                     $('#collapse-shipping-address .panel-body').html(html);

// 									$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="icon-chevron-down"></i></a>');
//                                 },
//                                 error: function(xhr, ajaxOptions, thrownError) {
//                                     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                                 }
//                             });

// 							$('#collapse-shipping-method .panel-body').html(html);

// 							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="icon-chevron-down"></i></a>');

//    							$('a[href=\'#collapse-shipping-method\']').trigger('click');

// 							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
// 							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                         },
//                         error: function(xhr, ajaxOptions, thrownError) {
//                             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                         }
//                     });
//                 } else {
//                     $.ajax({
//                         url: 'index.php?route=checkout/shipping_address',
//                         dataType: 'html',
//                         success: function(html) {
//                             $('#collapse-shipping-address .panel-body').html(html);

// 							$('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="icon-chevron-down"></i></a>');

// 							$('a[href=\'#collapse-shipping-address\']').trigger('click');

// 							$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
// 							$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 							$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                         },
//                         error: function(xhr, ajaxOptions, thrownError) {
//                             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                         }
//                     });
//                 }
//                 {% else %}
//                 $.ajax({
//                     url: 'index.php?route=checkout/payment_method',
//                     dataType: 'html',
//                     success: function(html) {
//                         $('#collapse-payment-method .panel-body').html(html);

// 						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="icon-chevron-down"></i></a>');

// 						$('a[href=\'#collapse-payment-method\']').trigger('click');

// 						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 });
//                 {% endif %}

//                 $.ajax({
//                     url: 'index.php?route=checkout/payment_address',
//                     dataType: 'html',
//                     complete: function() {
//                         {# $('#button-register').button('reset'); #}
//                     },
//                     success: function(html) {
//                         $('#collapse-payment-address .panel-body').html(html);

// 						$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="icon-chevron-down"></i></a>');
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 });
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// Payment Address
// $(document).delegate('#button-payment-address', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/payment_address/save',
//         type: 'post',
//         data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
//         dataType: 'json',
//         beforeSend: function() {
//         	{# $('#button-payment-address').button('loading'); #}
// 		    },
//         complete: function() {
// 			    {# $('#button-payment-address').button('reset'); #}
//         },
//         success: function(json) {
//           $('.alert-dismissible, .text-danger').remove();
// 			    $('.form-group').removeClass('has-error');

//           if (json['redirect']) {

//             location = json['redirect'];

//           } else if (json['error']) {

//             if (json['error']['warning']) {
//                 $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//             }
//             for (i in json['error']) {
//               var element = $('#input-payment-' + i.replace('_', '-'));

//               if ($(element).parent().hasClass('input-group')) {
//                 $(element).parent().after('<span class="text-danger">' + json['error'][i] + '</div>');
//               } else {
//                 $(element).after('<span class="text-danger">' + json['error'][i] + '</div>');
//               }
//             }
//             // Highlight any found errors
//             $('.text-danger').parent().parent().addClass('has-error');

//           } else {

//             {% if shipping_required %}
//               $.ajax({
//                 url: 'index.php?route=checkout/shipping_address',
//                 dataType: 'html',
//                 success: function(html) {
//                   $('#collapse-shipping-address .panel-body').html(html);
// 						      $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="icon-chevron-down"></i></a>');
// 						      $('a[href=\'#collapse-shipping-address\']').trigger('click');
//                   $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
//                   $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
//                   $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                 },
//                 error: function(xhr, ajaxOptions, thrownError) {
//                   alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                 }
//               })
//               .done(function() {
//                 $.ajax({
//                   url: 'index.php?route=checkout/payment_address',
//                   dataType: 'html',
//                   success: function(html) {
//                     $('#collapse-payment-address .panel-body').html(html);
//                   },
//                   error: function(xhr, ajaxOptions, thrownError) {
//                     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                   }
//                 });
//               });
//             {% else %}
//               $.ajax({
//                 url: 'index.php?route=checkout/payment_method',
//                 dataType: 'html',
//                 success: function(html) {
//                   $('#collapse-payment-method .panel-body').html(html);
// 						      $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="icon-chevron-down"></i></a>');
// 						      $('a[href=\'#collapse-payment-method\']').trigger('click');
// 						      $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                 },
//                 error: function(xhr, ajaxOptions, thrownError) {
//                     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                 }
//               })
//               .done(function() {
//                 $.ajax({
//                   url: 'index.php?route=checkout/payment_address',
//                   dataType: 'html',
//                   success: function(html) {
//                     $('#collapse-payment-address .panel-body').html(html);
//                   },
//                   error: function(xhr, ajaxOptions, thrownError) {
//                     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                   }
//                 });				
// 				        });
//             {% endif %}
//           }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// Shipping Address
// $(document).delegate('#button-shipping-address', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/shipping_address/save',
//         type: 'post',
//         data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
//         dataType: 'json',
//         beforeSend: function() {
// 			{# $('#button-shipping-address').button('loading'); #}
// 	    },
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 {# $('#button-shipping-address').button('reset'); #}

//                 if (json['error']['warning']) {
//                     $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//                 }

// 				for (i in json['error']) {
// 					var element = $('#input-shipping-' + i.replace('_', '-'));

// 					if ($(element).parent().hasClass('input-group')) {
// 						$(element).parent().after('<span class="text-danger">' + json['error'][i] + '</div>');
// 					} else {
// 						$(element).after('<span class="text-danger">' + json['error'][i] + '</div>');
// 					}
// 				}

// 				// Highlight any found errors
// 				$('.text-danger').parent().parent().addClass('has-error');
//             } else {
//                 $.ajax({
//                     url: 'index.php?route=checkout/shipping_method',
//                     dataType: 'html',
//                     complete: function() {
//                         {# $('#button-shipping-address').button('reset'); #}
//                     },
//                     success: function(html) {
//                         $('#collapse-shipping-method .panel-body').html(html);

// 						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="icon-chevron-down"></i></a>');

// 						$('a[href=\'#collapse-shipping-method\']').trigger('click');

// 						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
						
//                         $.ajax({
//                             url: 'index.php?route=checkout/shipping_address',
//                             dataType: 'html',
//                             success: function(html) {
//                                 $('#collapse-shipping-address .panel-body').html(html);
//                             },
//                             error: function(xhr, ajaxOptions, thrownError) {
//                                 alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                             }
//                         });
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 }).done(function() {
// 					$.ajax({
// 						url: 'index.php?route=checkout/payment_address',
// 						dataType: 'html',
// 						success: function(html) {
// 							$('#collapse-payment-address .panel-body').html(html);
// 						},
// 						error: function(xhr, ajaxOptions, thrownError) {
// 							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
// 						}
// 					});
// 				});
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });



// Guest Shipping
// $(document).delegate('#button-guest-shipping', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/guest_shipping/save',
//         type: 'post',
//         data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
//         dataType: 'json',
//         beforeSend: function() {
//         	{# $('#button-guest-shipping').button('loading'); #}
// 		},
//         success: function(json) {
//           $('.alert-dismissible, .text-danger').remove();
// 			    $('.form-group').removeClass('has-error');

//           if (json['redirect']) {
//               location = json['redirect'];
//           } else if (json['error']) {
//             {# $('#button-guest-shipping').button('reset'); #}

//             if (json['error']['warning']) {
//                 $('#collapse-shipping-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//             }

//             for (i in json['error']) {
//               var element = $('#input-shipping-' + i.replace('_', '-'));

//               if ($(element).parent().hasClass('input-group')) {
//                 $(element).parent().after('<span class="text-danger">' + json['error'][i] + '</div>');
//               } else {
//                 $(element).after('<span class="text-danger">' + json['error'][i] + '</div>');
//               }
//             }

//               // Highlight any found errors
//               $('.text-danger').parent().addClass('has-error');
//             } else {
//                 $.ajax({
//                     url: 'index.php?route=checkout/shipping_method',
//                     dataType: 'html',
//                     complete: function() {
//                         {# $('#button-guest-shipping').button('reset'); #}
//                     },
//                     success: function(html) {
//                         $('#collapse-shipping-method .panel-body').html(html);

// 						$('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="icon-chevron-down"></i>');

// 						$('a[href=\'#collapse-shipping-method\']').trigger('click');

// 						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
// 						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 });
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// $(document).delegate('#button-shipping-method', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/shipping_method/save',
//         type: 'post',
//         data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
//         dataType: 'json',
//         beforeSend: function() {
//         	{# $('#button-shipping-method').button('loading'); #}
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 {# $('#button-shipping-method').button('reset'); #}

//                 if (json['error']['warning']) {
//                     $('#collapse-shipping-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//                 }
//             } else {
//                 $.ajax({
//                     url: 'index.php?route=checkout/payment_method',
//                     dataType: 'html',
//                     complete: function() {
//                         {# $('#button-shipping-method').button('reset'); #}
//                     },
//                     success: function(html) {
//                         $('#collapse-payment-method .panel-body').html(html);

// 						$('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="icon-chevron-down"></i></a>');

// 						$('a[href=\'#collapse-payment-method\']').trigger('click');

// 						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 });
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// $(document).delegate('#button-payment-method', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/payment_method/save',
//         type: 'post',
//         data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
//         dataType: 'json',
//         beforeSend: function() {
//          	{# $('#button-payment-method').button('loading'); #}
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 {# $('#button-payment-method').button('reset'); #}
                
//                 if (json['error']['warning']) {
//                     $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
//                 }
//             } else {
//                 $.ajax({
//                     url: 'index.php?route=checkout/confirm',
//                     dataType: 'html',
//                     complete: function() {
//                         {# $('#button-payment-method').button('reset'); #}
//                     },
//                     success: function(html) {
//                         $('#collapse-checkout-confirm .panel-body').html(html);

// 						$('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-confirm" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_confirm }} <i class="icon-chevron-down"></i></a>');

// 						$('a[href=\'#collapse-checkout-confirm\']').trigger('click');
// 					},
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 });
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });
</script>
{{ footer }}