
  <!-- Guest checkout -->
  <form action="index.php?route=checkout/guest/save" method="post" id="guest_checkout" enctype="multipart/form-data">
    <fieldset id="account">
      <legend>{{ text_your_details }}</legend>
      <div class="form-group" {% if customer_groups|length <= 1 %} style="display: none" tabindex="-1"{% endif %}>
        <label>{{ entry_customer_group }}</label>
        {% for customer_group in customer_groups %}
          {% if customer_group.customer_group_id == customer_group_id %}
          <div class="form-control">
            <label>{{ customer_group.name }}</label>
            <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
          </div>
          {% else %}
          <div class="form-control">
            <label for="">{{ customer_group.name }}</label>
            <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
          </div>
          {% endif %}
        {% endfor %}
      </div>

      {% include 'helium/template/common/fields/firstname.twig' with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/fields/lastname.twig'  with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/fields/email.twig'     with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/fields/telephone.twig' with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/custom_fields.twig'    with {type: 'payment', location: 'account'} %}
      
    </fieldset>

    <fieldset id="address">
      <legend>{{ text_your_address }}</legend>
      {% include 'helium/template/common/fields/company.twig'   with {type: 'payment'} %}
      {% include 'helium/template/common/fields/address1.twig'  with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/fields/address2.twig'  with {type: 'payment'} %}
      {% include 'helium/template/common/fields/city.twig'      with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/fields/country.twig'   with {required: true, type: 'payment'} %}
      {% include 'helium/template/common/custom_fields.twig'    with {type: 'payment', location: 'address'} %}
    </fieldset>
    {{ captcha }}
    <div class="grid-footer">
      <div class="form-control">
        {% if shipping_required %}
          {% if shipping_address %}
            <input id="shipping_address_guest" type="checkbox" name="shipping_address" value="1" checked="checked" />
          {% else %}
            <input id="shipping_address_guest" type="checkbox" name="shipping_address" value="1" />
          {% endif %}
          <label for="shipping_address_guest"> {{ entry_shipping }}</label>
        {% endif %}
      </div>
      <button type="button" id="button-guest" data-action="saveForm" data-form="guest_checkout" data-url="checkout/guest/save" class="primary">{{ button_continue }}</button>
    </div>
  </form>