{% if error_warning %}
  <div role="alert" class="alert-warning"><i class="icon-alert"></i> {{ error_warning }}</div>
{% endif %}

{% if payment_methods %}
  <form action="index.php?route=checkout/payment_method/save" method="post" id="payment_method">
    <fieldset>
      <legend>{{ text_payment_method }}</legend>
        {% for payment_method in payment_methods %}
          <div class="form-control">
            {% if payment_method.code == code or not code %}
              {% set code = payment_method.code %}
                <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
                <label for="{{ payment_method.code }}">{{ payment_method.title }}</label>
              {% else %}
                <input type="radio" name="payment_method" value="{{ payment_method.code }}" id="{{ payment_method.code }}"/>
                <label for="{{ payment_method.code }}">{{ payment_method.title }}</label>
              {% endif %}
              
            {% if payment_method.terms %}
              ({{ payment_method.terms }})
            {% endif %} 
          </div>
        {% endfor %}
        <strong>{{ text_comments }}</strong>
        <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
    

      {% if text_agree %}
          {% if agree %}
            <input type="checkbox" name="agree" value="1" checked="checked" />
            <label for="agree">{{ text_agree }}</label>
          {% else %}
            <input type="checkbox" name="agree" value="1" />
            <label for="agree">{{ text_agree }}</label>
          {% endif %}
      {% endif %}
        <button type="button" id="button-payment_method" data-action="saveForm" data-form="payment_method" data-url="checkout/payment_method/save" class="primary">{{ button_continue }}</button>
    </fieldset>
  </form>
{% endif %}