<form id="js_quick_ckeckout">
  {% if addresses %}
    <div class="form-control">
      <input id="payment_address_existing" type="radio" name="payment_address" value="existing" checked="checked" />
      <label for="payment_address_existing">{{ text_address_existing }}</label>
    </div>
    <div id="payment-existing">
      {% for address in addresses %}
        {% if address['address_id'] == address_id %}
          <input role="radio" type="radio" name="address_id" id="address_{{ address.address_id }}" value="{{ address.address_id }}" checked="checked"/>
          <label for="address_{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}</label>
        {% else %}
          <input role="radio" type="radio" name="address_id" id="address_{{ address.address_id }}" value="{{ address.address_id }}"/>
          <label for="address_{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}</label>
        {% endif %}
      {% endfor %}
    </div>
    <div class="form-control">
      <input id="payment_address_new" type="radio" name="payment_address" value="new" />
      <label for="payment_address_new">{{ text_address_new }}</label>
    </div>
  {% endif %}

  <div id="payment-new">
    <div class="form-group required">
      <label for="input-quick-checkout-firstname">{{ entry_firstname }}, {{ entry_lastname }}</label>
      <input
        type="text"
        name="guest[firstname]"
        value="{{ firstname }}"
        placeholder="{{ entry_firstname }}"
        id="input-quick-checkout-firstname"
        inputmode="text"
        enterkeyhint="next"
        autocapitalize="words"
        minlength="3" maxlength="32"
      />
      <input
        type="text"
        name="guest[lastname]"
        value="{{ lastname }}"
        placeholder="{{ entry_lastname }}"
        id="input-quick-checkout-lastname"
        inputmode="text"
        enterkeyhint="next"
        autocapitalize="words"
        minlength="3" maxlength="32"
      />
    </div>

    <div class="form-group required">
      <label for="input-quick-checkout-address-1">{{ entry_city }}, {{ entry_address_1 }}</label>
      <input 
        type="text" 
        name="shipping_address[city]" 
        value="{{ city }}"
        placeholder="{{ entry_city }}" 
        id="input-quick-checkout-city"
        inputmode="text"
        enterkeyhint="next"
        autocapitalize="words"
        minlength="3" maxlength="32"
        autocomplete="on"
      />
      <input
        type="text"
        name="shipping_address[address_1]"
        value="{{ address_1 }}"
        placeholder="{{ entry_address_1 }}"
        id="input-quick-checkout-address-1"
        inputmode="text"
        enterkeyhint="next"
        autocapitalize="words"
        minlength="3" maxlength="32"
        autocomplete="on"
      />
    </div>

    {# 
    <div class="form-group required">
      <label for="input-quick-checkout-email">{{ entry_email }}</label>
      <input
        type="email"
        name="email"
        value="{{ email }}"
        placeholder="{{ entry_email }}"
        id="input-quick-checkout-email"
        inputmode="email"
        enterkeyhint="next"
      />
    </div> #}
    <div class="form-group required">
      <label for="input-quick-checkout-telephone">{{ entry_telephone }}</label>
      <input
        type="tel"
        name="guest[telephone]"
        value="{{ telephone }}"
        placeholder="{{ entry_telephone }}"
        id="input-quick-checkout-telephone"
        inputmode="tel"
        enterkeyhint="next"
        minlength="3" maxlength="32"
      />
    </div>



    <div class="form-group required">
      <label for="input-quick-checkout-country">{{ entry_country }}</label>
      <select name="shipping_address[country_id]" id="input-quick-checkout-country">
        <option data-postcode-required="1" value="">{{ text_select }}</option>
        {% for country in countries %}
          {% if country.country_id == country_id %}
            <option data-postcode-required="{{ country.postcode_required }}" value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          {% else %}
            <option value="{{ country.country_id }}">{{ country.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group required">
      <label for="js_input_payment_zone_quick_checkout">{{ entry_zone }}</label>
      <select name="shipping_address[zone_id]" id="js_input_payment_zone_quick_checkout"></select>
    </div>
    <div class="form-group hidden">
      <label for="input-quick-checkout-postcode">{{ entry_postcode }}</label>
      <input
        type="text"
        name="postcode"
        value="{{ postcode }}"
        placeholder="{{ entry_postcode }}"
        id="input-quick-checkout-postcode"
        inputmode="numeric"
        enterkeyhint="next"
        minlength="3" maxlength="32"
        autocomplete="on"
      />
    </div>
    {# Custom fields #}
    {% include 'helium/template/common/custom_fields.twig' with {type: 'shipping', location: 'address'} %}
  </div>

  <div id="js_qc_delivery">
    {# Shipping methods #}
    {# Using with because $data['shipping_methods'] is subarray #}
    {% include 'helium/template/checkout/quick_checkout_shipping.twig' with {shipping_methods: shipping_methods.shipping_methods} %}
  </div>
  <div id="js_qc_payment">
    {# Payment methods #}
    {% include 'helium/template/checkout/quick_checkout_payment.twig' with {payment_methods: payment_methods.payment_methods} %}
  </div>
</form>
{# Check for errors and validate #}
<button type="button" data-action="validateQuickCheckout" id="js_qc_validate" class="primary">{{ button_continue }}</button>