<span class="h2">{{ text_payment_methods }}</span>
{% if payment_methods.error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
  {% for payment_method in payment_methods %}
    <div class="form-control">
      {% if selected_payment_method == payment_method.code %}
        <input data-action="saveShippingMethod" type="radio" name="payment_method" value="{{ payment_method.code }}" id="{{ payment_method.code }}" checked="checked" />
        <label for="{{ payment_method.code }}">{{ payment_method.title }}</label>
      {% else %}
        <input data-action="saveShippingMethod" type="radio" name="payment_method" value="{{ payment_method.code }}" id="{{ payment_method.code }}"/>
        <label for="{{ payment_method.code }}">{{ payment_method.title }}</label>
      {% endif %}
      {% if payment_method.terms %}
        ({{ payment_method.terms }})
      {% endif %} 
    </div>
  {% endfor %}
  {% if payment_methods.text_agree %}
      {% if payment_methods.agree %}
        <input data-action="saveShippingMethod" type="checkbox" name="agree" value="1" id="agree" checked="checked" />
        <label for="agree">{{ payment_methods.text_agree }}</label>
      {% else %}
        <input data-action="saveShippingMethod" type="checkbox" name="agree" value="1" id="agree" />
        <label for="agree">{{ payment_methods.text_agree }}</label>
      {% endif %}
  {% endif %}
{% endif %}