<form action="index.php?route=checkout/shipping_address/save" method="post" id="shipping_address" enctype="multipart/form-data">
<fieldset>
  <legend>{{ text_delivery_address }}</legend>
    {% if addresses %}
      <div class="form-group">
        <input type="radio" name="shipping_address" id="shipping_address_existing" value="existing" checked="checked" />
        <label for="shipping_address_existing">{{ text_address_existing }}</label>
      </div>
      <div id="shipping-existing">
        <select name="address_id" class="form-group">
         {% for address in addresses %}
          {% if address.address_id == address_id %}
            <option value="{{ address.address_id }}" selected="selected">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
          {% else %}
            <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input type="radio" name="shipping_address" value="new" id="shipping_address_new" />
        <label for="shipping_address_new">{{ text_address_new }}</label>
      </div>
    {% endif %}
    <br />
    <div id="shipping-new" style="display: {% if addresses %}none{% else %}block{% endif %};">        
      {% include 'helium/template/common/fields/firstname.twig' with {required: true,  type: 'shipping'} %}
      {% include 'helium/template/common/fields/lastname.twig'  with {required: true,  type: 'shipping'} %}
      {% include 'helium/template/common/fields/company.twig'   with {required: false, type: 'shipping'} %}
      {% include 'helium/template/common/fields/address1.twig'  with {required:  true,  type: 'shipping'} %}
      {% include 'helium/template/common/fields/address2.twig'  with {required: false, type: 'shipping'} %}
      {% include 'helium/template/common/fields/city.twig'      with {required: true,  type: 'shipping'} %}
      {% include 'helium/template/common/fields/country.twig'   with {required: true,  type: 'shipping'} %}
      {% include 'helium/template/common/custom_fields.twig' with {type: 'shipping', location: 'address'} %}
    </div>
    </fieldset>
    <div class="grid-footer">
      <button type="button" id="button-shipping-address" class="primary" data-action="saveForm" data-form="shipping_address" data-url="checkout/shipping_address/save">{{ button_continue }}</button>
    </div>
</form>

