{% if reviews %}
  <div id="reviews">
    <span class="h1 uppercase">{{ text_reviews }}</span>
      {% for review in reviews %}
        <div role="comment" class="block review">
          <div class="review_header">
            <address>
              <p rel="author">{{ review.author }}</p>
              <time pubdate class="text-right"><i class="icon-calendar"></i>{{ review.date_added }}</time>
            </address>
            {% include 'helium/template/common/rating_stars.twig' with {rating: review.rating} %}
          </div>
          <div><p>{{ review.text }}</p></div>
        </div>
      {% endfor %}
  {{ pagination }}
  </div>
{% else %}
  <p>{{ text_no_reviews }}</p>
{% endif %} 