<div class="form-group {% if required %} required {% endif %} {% if error_lastname %} has-error {% endif %}">
    <label for="input-{{ type }}-lastname">{{ entry_lastname }}</label>
    <input
      type="text"
      name="lastname"
      value="{{ lastname }}"
      placeholder="{{ entry_lastname }}"
      id="input-{{ type }}-lastname"
      inputmode="text"
      enterkeyhint="next"
      autocapitalize="words"
      minlength="3" maxlength="32"
      autocomplete="family-name"
    />
    {% if error_lastname %}
      <span role="alert" class="text-danger">{{ error_lastname }}</span>
    {% endif %}
</div>