{% if current_password %}
  <div class="form-group required {% if error_warning %} has-error {% endif %}">
    <label for="input-password">{{ entry_password }}</label>
    <div class="inline-group">
      <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" autocomplete="current-password"/>
      <a class="button" href="{{ forgotten }}">{{ text_forgotten }}</a>
    </div>
    {% if error_warning %}
      <span role="alert" class="text-danger">{{ error_warning }}</div>
    {% endif %}
  </div>
{% endif %}
{% if new_password %}
  <div class="form-group required {% if error_password %} has-error {% endif %} ">
    <label for="input-password">{{ entry_password }}</label>
    <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" autocomplete="new-password">
    {% if error_password %}
      <span role="alert" class="text-danger">{{ error_password }}</div>
    {% endif %}
  </div>
  <div class="form-group required {% if error_confirm %} has-error {% endif %}">
    <label for="input-confirm">{{ entry_confirm }}</label>
    <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" autocomplete="new-password"/>
    {% if error_confirm %}
      <span role="alert" class="text-danger">{{ error_confirm }}</span>
    {% endif %}
  </div>
{% endif %}