<div class="form-group {% if required %} required {% endif %} {% if error_telephone %} has-error {% endif %}">
  <label for="input-{{ type }}-telephone">{{ entry_telephone }}</label>
  <input
    type="tel"
    name="telephone"
    value="{{ telephone }}"
    placeholder="{{ entry_telephone }}"
    id="input-{{ type }}-telephone"
    inputmode="tel"
    enterkeyhint="send"
    minlength="3" maxlength="32"
    autocomplete="tel"
  />
  {% if error_telephone %}
    <span role="alert" class="text-danger">{{ error_telephone }}</span>
  {% endif %} 
</div>