{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="account-address">
  {{ content_top }}
  <h2>{{ text_address }}</h2>
  
  <form action="{{ action }}" method="post" enctype="multipart/form-data" >
    <fieldset>
      {% include 'helium/template/common/fields/firstname.twig' with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/fields/lastname.twig'  with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/fields/email.twig'     with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/fields/company.twig'   with {required: false, type: 'new_address'} %}
      {% include 'helium/template/common/fields/address1.twig'  with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/fields/address2.twig'  with {required: false, type: 'new_address'} %}
      {% include 'helium/template/common/fields/city.twig'      with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/fields/country.twig'   with {required: true,  type: 'new_address'} %}
      {% include 'helium/template/common/custom_fields.twig'    with {type: 'new_address', location: 'address'} %}
      <div class="form-control">
        <input id="shipping_address_guest" type="checkbox" name="default" value="1" {% if default %}checked="checked"{% endif %} />
        <label for="shipping_address_guest">{{ entry_default }}</label>
      </div>
    </fieldset>
    <div class="btn-group spaced">
      <a href="{{ back }}" class="button"><i class="icon-chevron-left"></i>{{ button_back }}</a>
      <button class="primary" type="submit">{{ button_continue }}<i class="icon-chevron-right"></i></button>
    </div> 
    
  </form>
  {{ content_bottom }}
</main>
{{ column_left }}
{{ column_right }}
{{ footer }}