{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="account-login">
  {% if success %}
    <span role="alert" class="alert-success"><i class="icon-info"></i> {{ success }}</span>
  {% endif %}
  {% if error_warning %}
    <span role="alert" class="alert-danger"><i class="icon-alert"></i> {{ error_warning }}</span>
  {% endif %}
  {{ content_top }}
  <div>
      <h2>{{ text_new_customer }}</h2>
      <p>{{ text_register }}</p>
      <p>{{ text_register_account }}</p>
      <a href="{{ register }}" class="button primary">{{ button_continue }}</a>
  </div>
    <br/>
    <div>
      <h2>{{ text_returning_customer }}</h2>
      <p>{{ text_i_am_returning_customer }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <fieldset class="unstyled">
          {% include 'helium/template/common/fields/email.twig'     with {required: true, type: 'login'} %}
          {% include 'helium/template/common/fields/password.twig' with {current_password: true} %}
          <button type="submit" class="primary">{{ button_login }}</button>
        </fieldset>
        {% if redirect %}
          <input type="hidden" name="redirect" value="{{ redirect }}" />
        {% endif %}
      </form>
    </div>
  {{ content_bottom }}
</main>
{{ column_left }}
{{ column_right }}
{{ footer }}