{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="account-newsletter">
  <h1>{{ heading_title }}</h1>
  {{ content_top }}
  <form action="{{ action }}" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>{{ entry_newsletter }}</legend>
      <div class="form-control">
        {% if newsletter %}
          <input type="radio" name="newsletter" value="1" checked="checked" />
          <label>{{ text_yes }} </label>
          <input type="radio" name="newsletter" value="0" />
          <label>{{ text_no }}</label>
        {% else %}
          <input type="radio" name="newsletter" value="1" />
          <label>{{ text_yes }} </label>
          <input type="radio" name="newsletter" value="0" checked="checked" />
          <label>{{ text_no }}</label>
        {% endif %}
      </div>
    </fieldset>
    <div class="btn-group spaced">
      <a href="{{ back }}" class="button">{{ button_back }}</a>
      <button type="submit" class="primary">{{ button_continue }}</button>
    </div>
  </form>
  {{ content_bottom }}
</main>
{{ column_left }}
{{ column_right }}
{{ footer }}