{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="account-order">
  <h1>{{ heading_title }}</h1>
  {{ content_top }}
  {% if orders %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-center">{{ column_order_id }}</td>
            <td class="text-center">{{ column_customer }}</td>
            <td class="text-right">{{ column_product }}</td>
            <td class="text-center">{{ column_status }}</td>
            <td class="text-center">{{ column_total }}</td>
            <td class="text-center">{{ column_date_added }}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr>
            <td class="text-center">#{{ order.order_id }}</td>
            <td class="text-center">{{ order.name }}</td>
            <td class="text-right">{{ order.products }}</td>
            <td class="text-center">{{ order.status }}</td>
            <td class="text-center">{{ order.total }}</td>
            <td class="text-center">{{ order.date_added }}</td>
            <td><a class="button" href="{{ order.view }}" title="{{ button_view }}" ><i class="icon-eye"></i>{{ button_view }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-left">{{ pagination }}</div>
      <div class="text-right">{{ results }}</div>
    </div>
  {% else %}
    <p>{{ text_empty }}</p>
  {% endif %}
  <a class="button" href="{{ back }}" class="button"><i class="icon-chevron-left"></i>{{ button_back }}</a>
  {{ content_bottom }}
</main>
{{ column_left }}
{{ column_right }}
{{ footer }}
