{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
{{ column_left }}
<main role="main" id="account-return">
  {% if error_warning %}
    <div role="alert" class="alert-danger"><i class="icon-alert"></i> {{ error_warning }}</div>
  {% endif %}
  {{ content_top }}

  <h1>{{ heading_title }}</h1>
  <p>{{ text_description }}</p>
  <form action="{{ action }}" method="post" enctype="multipart/form-data" >
    <fieldset>
      <legend>{{ text_order }}</legend>
      {% include 'helium/template/common/fields/email.twig'     with {required: true,  type: 'return'} %}
      {% include 'helium/template/common/fields/telephone.twig'   with {required: true, type: 'return'} %}
    </fieldset>
    
    <fieldset>
      <legend>{{ text_product }}</legend>
      {# Order list #}
      <div class="form-group required">
        <label for="customer_orders">{{ entry_order_id }}</label>
        <select name="order_id" data-action="getOrderProductsList" id="customer_orders">
          {% for order in orders %}
            <option value="{{order.order_id}}" {% if order.selected %} selected {% endif %}> #{{order.order_id}}, <b>{{order.firstname}} {{order.lastname}}, {{order.total}}, {{order.date_added_format }}</option>
          {% endfor %}
        </select>
      </div>

      {# Product list #}
        <div class="form-group required {% if error_product %} has-error {% endif %}">
          <label for="customer_order_products">{{ entry_product }}</label>
        <select name="product_id" id="customer_order_products">
          {% for product in products %}
            <option value="{{ product.product_id }}" {% if product.selected %} selected {% endif %}>{{ product.name }} ({{product.model}}) &times; {{product.quantity}}</option>
          {% endfor %}
        </select>
        {% if error_product %}
          <span role="alert" class="text-danger">{{ error_product }}</span>
        {% endif %}
      </div>

      <div class="form-group {% if error_quantity %} has-error {% endif %}">
        <label for="input-quantity">{{ entry_quantity }}</label>
        <input type="number" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" min="1" />
        {% if error_quantity %}
          <span role="alert" class="text-danger"> {{ error_quantity }}</span>
        {% endif %}
      </div>

      {# Return reasons #}
      <div class="{% if error_reason %} has-error {% endif %}">
        <span class="h4">{{ entry_reason }}</span>
        {% for return_reason in return_reasons %}
          <div class="form-control">
            <input id="return_reason_{{ return_reason.return_reason_id }}" type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" {% if return_reason.return_reason_id == return_reason_id %} checked="checked" {% endif %}/>
            <label for="return_reason_{{ return_reason.return_reason_id }}">{{ return_reason.name }}</label>
          </div>
        {% endfor %}
        {% if error_reason %}
          <span role="alert" class="text-danger">{{ error_reason }}</span>
        {% endif %} 
      </div>
      {# Box opened or not #}
      <div class="form-group required">
        <span class="h4">{{ entry_opened }}</span>
        {% if opened %}
          <div class="form-control">
            <input type="radio" name="opened" value="1" checked="checked" />
            <label>{{ text_yes }}</label>
          </div>
        {% else %}
          <div class="form-control">
            <input type="radio" name="opened" value="1" />
            <label>{{ text_yes }}</label>
          </div>
        {% endif %}
        {% if not opened %}
          <div class="form-control">
            <input type="radio" name="opened" value="0" checked="checked" />
            <label>{{ text_no }}</label>
          </div>
        {% else %}
            <div class="form-control">
              <input type="radio" name="opened" value="0" />
              <label>{{ text_no }}</label>
            </div>
        {% endif %}
      </div>
      {# User comment #}
      <div class="form-group {% if error_comment %} has-error {% endif %}">
        <label for="input-comment">{{ entry_fault_detail }}</label>
        <textarea name="comment" rows="10" placeholder="{{ entry_fault_detail }}" id="input-comment" class="form-control">{{ comment }}</textarea>
        {% if error_comment %}
          <span role="alert" class="text-danger">{{ error_comment }} </span>
        {% endif %}
      </div>
      {{ captcha }}
    </fieldset>

    {% if text_agree %}
      <div class="form-control">
        {% if agree %}
          <input type="checkbox" name="agree" value="1" checked="checked" />
          <label for="agree_with_terms">{{ text_agree }}</label>
        {% else %}
          <input type="checkbox" name="agree" value="1" />
          <label for="agree_with_terms">{{ text_agree }}</label>
        {% endif %}
        <div class="btn-group">
          <a href="{{ back }}" class="button">{{ button_back }}</a>
          <button type="submit" class="primary">{{ button_submit }}</button>
        </div>
      </div>
    {% else %}
      <div class="btn-group">
        <a href="{{ back }}" class="button">{{ button_back }}</a>
        <button type="submit" class="primary">{{ button_submit }}</button>
      </div>
    {% endif %}
  </form>
</main>
{{ content_bottom }}
{{ column_right }}
{{ footer }} 