<fieldset>
  <legend>{{ text_your_addresses }}</legend>
  {% for address in addresses %}
    <div class="form-control">
      <input data-collapse-target="{{ form_name }}_form" role="radio" type="radio" name="address_id" id="{{ form_name }}_{{ address.address_id }}" value="{{ address.address_id }}" 
        {% if address.address_id == address_id %} 
          checked="checked" 
        {% endif %}
      />
      <label for="{{ form_name }}_{{ address.address_id }}">
        {% if address.address_id == address_id %}
          <i class="icon-home"></i> 
        {% endif %}
        {{ address.firstname }} {{ address.lastname }}, <b>{{ address.address_1 }}, {{ address.city }}, {{address.country }}</b>
        {# <button data-edit-address="{{ address.address_id }}"> Edit </button> #}
      </label>
    </div>
  {% endfor %}
  <div class="form-control">
    {# Empty value to toggle address form #}
    <input data-collapse-target="{{ form_name }}_form" role="radio" type="radio" name="address_id" id="{{ form_name }}_0" value="0" {% if not address_id or address_id == '0' %} checked="checked" {% endif %}/>
    <label for="{{ form_name }}_0"><b>{{ text_i_want_new_address }}</b></label>
  </div>
</fieldset>