{{ header }}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="account-wishlist">
  {{ content_top }}
  {% include 'helium/template/account/wishlist_table.twig' with {products: products, success:success} %}
  <a class="button" href="{{ continue }}"><i class="icon-chevron-left"></i>{{ button_back }}</a>
  {{ content_bottom }}
</main>
{{ column_left }}
{{ column_right }}
{{ footer }}