{{ header }}
{# Microdata #}
{# EAN is used as GTIN, it's OK #}
<!-- Microdata -->
{% if microdata is defined %}
  <script type="application/ld+json">
    {{ microdata }}
  </script>
{% endif %}
<!-- End Microdata -->

{% include 'helium/template/common/breadcrumbs.twig' %}
<main id="main">
  <h1 class="uppercase">{{ heading_title }}</h1>
  {% if filter_links %}
  <div class="row popular-links">
    <span>{{ text_pupular_search }}</span>
    {% for filter_link in filter_links %}
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
    {% endfor %}
  </div>
  {% endif %}
  {% if description %}
    <article class="category-description">{{ description }}</article>
  {% endif %}
  {{ content_top }}
  {% if categories %}
    <span class="h3 uppercase">{{ text_subcategories }}</span>
    <div class="subcategories grid">
      {% for category in categories %}
        <div class="subcategory">
          <a title="{{ category.name }}" href="{{ category.href }}">
            <img loading="lazy" src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" width="{{ category.width }}" height="{{ category.height }}"/>
            <span class="h6 uppercase">{{ category.name }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if products %}
    <div class="row category-sort">
      <div class="input-group">
        <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
        <select id="input-sort" class="form-control" onchange="location = this.value;">
        {% for sorts in sorts %}
          {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
          {% else %}
            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
    </div>

    {# Список товаров #}
    <div class="product grid"> 
    {% for product in products %}
      {% include 'helium/template/product/product_miniature.twig' with {product: product} %}
    {% endfor %} 
    </div>

    {# pagination #}
    <div class="row pagination">
      <div class="scroll-x">{{ pagination }}</div>
      <span>{{ results }}</span>
    </div>
  {% endif %}

  {% if not categories and not products %}
    <p>{{ text_empty }}</p>
    <div class="row">
      <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
    </div>
  {% endif %}
  {{ content_bottom }}
</main>
{{ column_right }}
{{ column_left }}
{{ footer }} 
