{{ header }}
{# Microdata #}
{# EAN is used as GTIN, it's OK #}
<!-- Microdata -->
{% if microdata is defined %}
  <script type="application/ld+json">
    {{ microdata }}
  </script>
{% endif %}
<!-- End Microdata -->

{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="main">
  <h1 class="uppercase">{{ heading_title }}</h1>
  {% if filter_links %}
  <div class="scroll-x">
    <span>{{ text_pupular_search }}</span>
    {% for filter_link in filter_links %}
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
    {% endfor %}
  </div>
  {% endif %}
  {% if description %}
    <article role="article" class="category-description">{{ description }}</article>
  {% endif %}
  {{ content_top }}
  {% if categories %}
    <span class="h3 uppercase">{{ text_subcategories }}</span>
    <div class="subcategories grid">
      {% for category in categories %}
        <div class="subcategory">
          <a title="{{ category.name }}" href="{{ category.href }}">
            <img loading="lazy" src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" width="{{ category.width }}" height="{{ category.height }}"/>
            <span class="h6 uppercase">{{ category.name }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if products %}
    {# {{ sorts | json_encode(constant('JSON_UNESCAPED_UNICODE')) }} #}
    {# <div class="row category-sort">
      <div class="form-group">
        <label for="input-sort">{{ text_sort }}</label>
        <select id="input-sort" class="form-control" onchange="location = this.value;">
          {% for optgroup in sorts %}
            
            <optgroup label="{{ optgroup.name }}">
              {% for values in optgroup.values %}
                {% if values.value == '%s-%s'|format(sort, order) %}
                  <option value="{{ values.href }}" selected="selected">{{ values.text }}</option>
                {% else %}
                  <option value="{{ values.href }}">{{ values.text }}</option>
                {% endif %}
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </div>
    </div> #}

    {# Список товаров #}
    <div class="product grid"> 
    {% for product in products %}
      {% include 'helium/template/product/product_miniature.twig' with {product: product} %}
    {% endfor %} 
    </div>

    {# pagination #}
    <div class="row pagination">
      <div class="scroll-x">{{ pagination }}</div>
      <span>{{ results }}</span>
    </div>
  {% endif %}

  {% if not categories and not products %}
    <p>{{ text_empty }}</p>
    <div class="row">
      <a href="{{ continue }}" class="primary">{{ button_continue }}</a>
    </div>
  {% endif %}
  {{ content_bottom }}
</main>
{{ column_right }}
{{ column_left }}
{{ footer }} 
