{{ header }}
{# Microdata #}
{# EAN is used as GTIN, it's OK #}
<!-- Microdata -->
{% if microdata is defined and microdata.show == true %}
{% if microdata_encoded is defined %}
{{ microdata_encoded }}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ microdata.title }}",
  "description": "{{ microdata.description }}",
  "image": "{{ microdata.thumb }}",
  {% if microdata.manufacturers is defined and microdata.manufacturers|length > 0 %}
  "brand": [
    {% for brand in microdata.manufacturers %}
    {
      "@type": "Brand",
      "name": "{{ brand }}"
    }{% if loop.last == false  %},{% endif%}
    {% endfor %}
  ],
  {% endif %}
  {% if microdata.sku_list is defined and microdata.sku_list|length > 0 %}
  "sku": [{% for sku in microdata.sku_list %}"{{ sku }}"{% if loop.last == false  %},{% endif%}{% endfor %}],
  {% endif %}
  {% if microdata.ean_list is defined and microdata.ean_list|length > 0 %}
  "gtin": [{% for ean in microdata.ean_list %}"{{ ean }}"{% if loop.last == false  %},{% endif%}{% endfor %}],
  {% endif %}
  "offers": {
    "@type": "AggregateOffer",
    "offerCount": "{{ microdata.product_count }}",
    "lowPrice": "{{ microdata.lowest_price }}",
    "highPrice": "{{ microdata.highest_price }}",
    "priceCurrency": "{{ microdata.price_currency }}",
    "availability":"http://schema.org/InStock",
    {% if microdata.offers is defined and microdata.offers|length > 0 %}
    "offers": [
        {% for offer in microdata.offers %}
        {
          "@type": "Offer",
          "url": "{{ offer.url }}",
          "name": "{{ offer.name }}",
          "image": "{{ offer.image }}",
          "price": "{{ offer.price }}",
          "priceCurrency": "{{ microdata.price_currency }}"
          {% if offer.gtin is defined and offer.gtin is not empty %}
          , "gtin": "{{ offer.gtin }}"
          {% endif %}
        }{% if loop.last == false  %},{% endif%}
        {% endfor %}
    ],
    {% endif %}
    "seller": {
      "@type": "Organization",
      "name": "{{ microdata.shop_name }}"
    }
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ microdata.rating }}",
    "ratingCount": "{{ microdata.review_count }}",
    "reviewCount": "{{ microdata.review_count }}",
    "bestRating": "5",
    "worstRating": "1"
  },
  "review": [
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "Fred Benson"
      },
      "datePublished": "2006-05-04",
      "name": "A masterpiece of literature",
      "reviewBody": "I really enjoyed this book. It captures the essential challenge people face as they try make sense of their lives and grow to adulthood.",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5"
      }
    }
  ]
}
</script>
{% endif %}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main id="main">
  <h1 class="uppercase">{{ heading_title }}</h1>
  {% if filter_links %}
  <div class="row popular-links">
    <span>{{ text_pupular_search }}</span>
    {% for filter_link in filter_links %}
      <a class="button" title="{{ filter_link.name }} " href="{{filter_link.url}}">{{filter_link.name}}</a>
    {% endfor %}
  </div>
  {% endif %}
  {% if description %}
    <article class="category-description">{{ description }}</article>
  {% endif %}
  {{ content_top }}
  {% if categories %}
    <span class="h3 uppercase">{{ text_subcategories }}</span>
    <div class="subcategories grid">
      {% for category in categories %}
        <div class="subcategory">
          <a title="{{ category.name }}" href="{{ category.href }}">
            <img loading="lazy" src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" width="{{ category.width }}" height="{{ category.height }}"/>
            <span class="h6 uppercase">{{ category.name }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if products %}
    <div class="row category-sort">
      <div class="input-group">
        <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
        <select id="input-sort" class="form-control" onchange="location = this.value;">
        {% for sorts in sorts %}
          {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
          {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
    </div>

    {# Список товаров #}
    <div class="product grid"> 
    {% for product in products %}
      {% include 'helium/template/product/product_miniature.twig' with {product: product} %}
    {% endfor %} 
    </div>

    {# pagination #}
    <div class="row pagination">
      <div class="scroll-x">{{ pagination }}</div>
      <span>{{ results }}</span>
    </div>
  {% endif %}

  {% if not categories and not products %}
    <p>{{ text_empty }}</p>
    <div class="row">
      <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
    </div>
  {% endif %}
  {{ content_bottom }}
</main>
{{ column_right }}
{{ column_left }}
{{ footer }} 
