{% if table %}
  {# {{ table | json_encode(constant('JSON_UNESCAPED_UNICODE'), constant('JSON_PRETTY_PRINT')) }} #}
  <table class="t_header t_first_column">
  {% for column_name, column in table %}
    {% for attribute_id, name in column.line_name %}
      <tr>
        <th class="title_{{ column_name }}">{{name}}</th>
        {% for product_id, values in column.value %}
          <td class="cell_{{ column_name }}">
            {% if column_name == 'name' %}
              <h3><a href="{{ table.name.value[product_id].href }}" title="{{ table.name.value[product_id].name }}">{{ values.name }}</a></h3>
            {% elseif column_name == 'thumb' %}
              <figure data-special-date-end="{{ table.price.value[product_id].special_date_end }}">
                <a href="{{ table.name.value[product_id].href }}" title="{{ table.name.value[product_id].name }}">
                  <img decoding="async" loading="lazy" src="{{ values }}" alt="{{ table.price.value[product_id].name }}" title="{{ table.name.value[product_id].name }}"/>
                </a>
              </figure>
            {% elseif column_name == 'price' %}
              <b>{{ table.price.value[product_id].price }}</b>
            {% elseif column_name == 'rating' %}
              {% if values.rating and values.reviews %}
                {% include 'helium/template/common/rating_stars.twig' with {rating: values.rating, count: values.reviews} %}
              {% else %}
                --
              {% endif %}
            {% elseif column_name == 'attributes' %}
              {% if values[attribute_id] %}
                {{ values[attribute_id] | join(',<br/>') }}
              {% else %}{% endif %}
            {% elseif column_name == 'actions' %}
              <div class="btn-group">
                <button type="button" {% if table.price.value[product_id].price_value != 0 %} data-action="cartAdd" data-product_id="{{ product_id }}" data-minimum_qty="{{ product.minimum }}" aria-haspopup="dialog"{% else %} disabled {% endif %} title="{{ button_cart }} {{ table.name.value[product_id].name }}" class="add-to-cart primary">
                  <i class="icon-cart"></i>
                </button>
                <button type="button" data-action="compareRemove" data-product_id="{{ product_id }}" title="{{ text_remove }} {{ table.name.value[product_id].name }}">
                  <i class="icon-trash"></i>
                </button>
              </div>
            {% else %}
              {{ values }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  {% endfor %}
  </table>
{% else %}
  <p>{{ text_empty }}</p>
  <button class="primary" onclick="dialog.close()" >{{ button_continue }}</button>
{% endif %}