{% if table %}
  {# {{ attribute_table | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
  <h1>{{ heading_title }}</h1>
  <table class="compare_table">
    {% for row_key, row in table %}
      {# Hide service data #}
      {% if row_key not in service %}
        <tr>
          {% for cell_key, cell in row %}
            {# first in loop either first column or product name #}
            {% if loop.first %}
              <th>
                {{cell}}
                {% if row_key == 'attributes' %}
                  {% for key, name in attribute_table %}
                    <tr data-attribute-id="key"><td>{{ name.name }}</td></tr>
                  {% endfor %}
                {% endif %}
              </th>
            {% else %}
              <td data-product_id="{{ table.product_id[cell_key] }}">
                {% if row_key == 'thumb' %}
                  <a href="{{ table.href[cell_key] }}">
                    <img decoding="async" loading="lazy" src="{{ cell }}" alt="{{ table.name[cell_key] }}" title="{{ table.name[cell_key] }}"/>
                  </a>
                  
                {% elseif row_key == 'name' %}
                  <a href="{{ table.href[cell_key] }}">
                    <h3>{{cell}}</h3>
                  </a>
                {% elseif row_key == 'rating' %}
                  {% include 'helium/template/common/rating_stars.twig' with {rating: cell, count: table.reviews[cell_key]} %}
                
                {% elseif row_key == 'attributes' %}
                  {% for attr_id, attr in table.attributes %}
                    {# {{ attr_id }}<br/> #}
                  {% endfor %}
                {% elseif row_key == 'product_id' %}
                  <div class="btn-group">
                    <button type="button" {% if table.price_value[cell_key] != 0 %} data-action="cartAdd" data-product_id="{{ table.product_id[cell_key] }}" data-minimum_qty="{{ product.minimum }}" aria-haspopup="dialog" {% endif %} title="{{ button_cart }} {{ table.name[cell_key] }}" class="add-to-cart primary">
                      <i class="icon-cart"></i>{{ button_cart }}
                    </button>
                    <button type="button" data-action="compareRemove" data-product_id="{{ table.product_id[cell_key] }}" title="{{ text_remove }} {{ table.name[cell_key] }}">
                      <i class="icon-trash"></i>{{ text_remove }}
                    </button>
                  </div>
                {% else %}
                  {{cell}}
                {% endif %}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
    </table>
{% else %}
    <p>{{ text_empty }}</p>
    <div class="buttons">
      <div class="pull-right"><a href="{{ continue }}" class="default">{{ button_continue }}</a></div>
    </div>
{% endif %}