{{ header }}
{% if microdata is defined %}
  <!-- microdata -->
  <script type="application/ld+json">
    {{ microdata }}
  </script>
{% endif %}
{% include 'helium/template/common/breadcrumbs.twig' %}
<main role="main" id="product" data-product-id="{{ product_id }}" data-json-prices={{ json_prices }} >
  {{ content_top }}
  <hgroup>
    {# Header #}
    <div class="title">
      <h1 class="product-name">{{ heading_title }}</h1>
      {# Rating stars display #}
      {% if review_status %}
        {% include 'helium/template/common/rating_stars.twig' with {rating: rating, count:reviews_count} %}
      {% endif %}
    </div>
    {# Page contents #}
    <div class="wrapper">
      <ul class="contents scroll-x">
        {% if description %}
          <li><a class="button" href="{{ share }}#description" title="{{ tab_description }}">{{ tab_description }}</a></li>
        {% endif %}
        {% if thumb %}
          <li><a class="button" href="{{ share }}#photos" title="{{ tab_photos }}">{{ tab_photos }}</a></li>
        {% endif %}
        {% if attribute_groups %}
          <li><a class="button" href="{{ share }}#specification" title="{{ tab_attribute }}">{{ tab_attribute }}</a></li>
        {% endif %}
        {% if review_status %}
          <li><a class="button" href="{{ share }}#js_reviews" title="{{ tab_review }}">{{ tab_review }}</a></li>
        {% endif %}
        {% if products %}
          <li><a class="button" href="{{ share }}#related" title="{{ text_related }}">{{ text_related }} ({{products|length}})</a></li>
        {% endif %}
      </ul>
    </div>
  </hgroup>

  <div class="product_top">
    {# Images gallery #}
    {% if thumb or images %}
      {% include 'helium/template/common/images_gallery.twig' with {thumb:thumb, images:images, class:'relative'} %}
    {% endif %}
    {# Product tags #}
    {% if tags %}
    <p>
      {{ text_tags }}
      {% for i in 0..tags|length - 1 %}
        {% if i < (tags|length - 1) %} 
          <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} 
          <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> 
        {% endif %}
      {% endfor %} 
    </p>
    {% endif %}

    {# Short infos #}
    <div class="infos">
      {% if manufacturer %}
        <div class="manufacturer-info"><span>{{ text_manufacturer }}</span> <a href="{{ manufacturers }}">{{ manufacturer }}</a></div>
      {% endif %}
      {% if model %}
        <div class="model-info"><span>{{ text_model }} {{ model }}</span></div>
      {% endif %}
      {% if reward %}
        <div class="reward-info"><span>{{ text_reward }} {{ reward }}</span></div>
      {% endif %}
      {% if stock %}
        <div class="stock-info"><span>{{ text_stock }} {{ stock }}</span></div>
      {% endif %}
    

      {# Prices #}
      {% if price %}
        <div class="prices-block" >
          <p class="prices h1" data-special-date-end="{{ special_date_end }}">
            {% if not special %}
              <span id="js_product_id_{{ product_id }}" class="price-regular">{{ text_price }} {{ price }}</span>
            {% else %}
              <span  class="price-old">{{ price }}</span>
              <span id="js_product_id_{{ product_id }}" class="price-new" >{{ special }}</span>
            {% endif %}
          </p>

          {% if tax %}
          <span class="tax">{{ text_tax }} {{ tax }}</span>
          {% endif %}

          {% if points %}
            <span class="bonus-points">{{ text_points }} {{ points }}</span>
          {% endif %}

          {% if discounts %}
            {% for discount in discounts %}
            <div class="quantity_discounts">
              <span class="discount">
                {{ discount.quantity }}{{ text_discount }}
                <span data-quantity="{{ discount.quantity }}" class="price-new">{{ discount.price }}</span>
              </span>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <div>
        {# Product options #}
        {% if options %}
          {% include 'helium/template/product/product_page_options.twig' with {options: options, base_price:base_price} %}
        {% endif %}

        {# Recurring payments #}
        {% if recurrings %}
          <span class="h3">{{ text_payment_recurring }}</span>
          <div class="form-group required">
            <select name="recurring_id" class="form-control">
              <option value="">{{ text_select }}</option>
              {% for recurring in recurrings %}
              <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
              {% endfor %}
            </select>
            <div class="help-block" id="recurring-description"></div>
          </div>
        {% endif %}

        {# Buy buttons #}
        <div class="form-group">
          <label for="input-quantity">{{ entry_qty }}</label>
          <input 
            type="number"
            name="quantity"
            value="{{ minimum }}"
            min="{{ minimum }}"
            size="2"
            id="input-quantity"
            class="form-control"
            oninput="animatePrice()"
          />
          {# <input type="hidden" name="product_id" value="{{ product_id }}" /> #}
        </div>
        <div class="btn-group">

          <button type="button" 
            {% if price %}
              data-action="cartAdd" 
              data-product_id="{{product_id}}"
              aria-haspopup="dialog"
            {% else %}
              disabled
            {% endif %}
            title="{{ button_cart }} {{ name }}" 
            class="add-to-cart primary">
            {{ button_cart }}
          </button>
        </div>
        <div class="btn-group">
          <button type="button" data-action="wishlistAdd" data-product_id="{{ product_id }}" aria-haspopup="dialog" class="wishlist" title="{{ button_wishlist }}"><i class="icon-heart"></i></button>
          <button type="button" data-action="compareAdd" data-product_id="{{ product_id }}" aria-haspopup="dialog" class="compare" title="{{ button_compare }}" ><i class="icon-compare"></i></button>
          {% if review_guest %}
            <button type="button" data-id="{{ product_id }}" data-type="product/product" aria-haspopup="dialog" id="write-review" data-action="reviewModal"><i class="icon-edit"></i>{{ text_write }}</button>
          {% else %}
            {{ text_login }}
          {% endif %}
          
        </div>
        {% if minimum > 1 %}
          <div role="alert" class="alert-info"><i class="icon-info"></i> 
            {{ text_minimum }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <article role="article" class="content">
    {# Product description #}
    {% if description %}
      <span class="h1">{{ tab_description }}</span>
      <div id="description">
        {{ description }}
      </div>
    {% endif %}

    {# Feature table #}
    {% if attribute_groups %}
      <span class="h1">{{ tab_attribute }}</span>
      <div id="specification">
        <table class="table table-bordered">
          <caption>{{ tab_product_attribute }} {{ product.name }}</caption>
          <thead>
            <tr>
              <td><span class="bold">{{tab_attribute}}</span></td>
            </tr>
          </thead>
          <tbody>
          {% for attribute_group in attribute_groups %}
          <tr>
            <td colspan="2" class="group-name">
              {{ attribute_group.name }}
            </td>
            <td colspan="4" class="group-value">
              {% for attribute in attribute_group.attribute %}{{ attribute.name }}{% if attribute.text %} - {{ attribute.text }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}
            </td>
          </tr> 
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {# Reviews #}
    {% if review_status %}

      {% include 'helium/template/common/review_grid.twig' %}
      {# {% include 'helium/template/product/review.twig' %} #}
    {% endif %}
  </article>
  {# Сопутствующие товары #}
  {% if related_products %}
    <span class="h1">{{ text_related }}</span>
    <div id="related" class="scroll-x js_scroll">
      {% for product in related_products %}
        {% include 'helium/template/product/product_miniature.twig' with {product: product} %}
      {% endfor %} 
    </div>
  {% endif %}
</main>
{{ content_bottom }}
{# <script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>  #}

{{ column_left }}
{{ column_right }}
{{ footer }} 
