<form action="{{ action }}" method="post" enctype="multipart/form-data" >
  <fieldset>
    <legend>{{ text_contact }}</legend>
    {% include 'helium/template/common/fields/firstname.twig' with {required: true, type: 'contact'} %}
    {% include 'helium/template/common/fields/email.twig'     with {required: true, type: 'contact'} %}
    <div class="form-group required {% if error_enquiry %} has-error {% endif %}">
      <label for="input-enquiry">{{ entry_enquiry }}</label>
        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
        {% if error_enquiry %}
        <span role="alert" class="text-danger">{{ error_enquiry }}</span>
        {% endif %}
    </div>
    {{ captcha }}
  </fieldset>
  <input type="submit" class="primary"  value="{{ button_submit }}" />
</form>