<h2>{{ text_instruction }}</h2>
<p><b>{{ text_description }}</b></p>
<div class="well well-sm">
  <p>{{ bank }}</p>
  <p>{{ text_payment }}</p>
</div>
<div class="btn-group">
    <button type="button" data-action="completeOrder" id="js_button_confirm" class="primary">{{ button_confirm }}</button>
</div>
