<h2>{{ text_instruction }}</h2>
<div class="well well-sm">
  <p><b>{{ text_payable }}</b></p>
  <p>{{ payable }}</p>
  <b>{{ text_address }}</b><br />
  <p>{{ address }}</p>
  <p>{{ text_payment }}</p>
</div>
<div class="btn-group">
  <input type="button" value="{{ button_confirm }}" id="js_button_confirm" class="primary" />
</div>
